
# Triggers a build within the Datadog infrastructure in the ddprof-build repository
trigger_internal_build:
  variables:
    DOWNSTREAM_BRANCH: "main"
    DDPROF_COMMIT_BRANCH: ${CI_COMMIT_BRANCH}
    DDPROF_COMMIT_SHA: ${CI_COMMIT_SHA}
    DDPROF_SHORT_COMMIT_SHA: ${CI_COMMIT_SHORT_SHA}
  trigger:
    project: DataDog/ddprof-build
    strategy: depend
    branch: $DOWNSTREAM_BRANCH

run-codeql-scan:
  variables:
    CODEQL_BUNDLE_URL: https://github.com/github/codeql-action/releases/download/codeql-bundle-20210622/codeql-bundle-linux64.tar.gz
  script:
    - curl -L $CODEQL_BUNDLE_URL > /tmp/codeql.tar.gz && tar -zxf /tmp/codeql.tar.gz -C /usr/local && rm /tmp/codeql.tar.gz
