#==============================================================================#
# Directories to ignore (do not add trailing '/'s, they skip symlinks).
#==============================================================================#
build
tmp
pprofs
release
vendor
redis
.vscode
.vs
.ccls-cache
.idea
.cache

#==============================================================================#
# Editor auto-saving
#==============================================================================#
*~
\#*\#
*.autosave

#==============================================================================#
# Files to ignore recursively
#==============================================================================#
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/.project
**/.cproject
**/.settings


#==============================================================================#
# Files to ignore
#==============================================================================#
compile_commands.json
.gdb_history
*.i
*.o
*.s
*.bc
*.swp
*.dump
.env
