# Documentation about code owners : https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-file-location

# Global owners
* @sanchda @r1viollet @nsavoire
